# Base de données
db.sqlite3
*.sqlite3

# Environnement virtuel
venv/
.venv/
env/

# Variables d'environnement
.env

# Données sensibles
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python (fichiers de cache inutiles sur GitHub)
__pycache__/
*.pyc

# VS Code (si tu veux garder tes réglages locaux pour toi)
.vscode/

# OS (fichiers système inutiles)
.DS_Store
Thumbs.db